body {
    background-color: #333;
    font-family: 'Press Start 2P', cursive; 
    color: #eee;
}
h1 {
    text-align: center;
}
button, input {
    color: #333;
}

.barcodeOutput {
    position: relative;
    width: screen.width;
    height:  241px;
}
.barcodeOutput canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: screen.width;
}
.barcode {
    float: right;
}

table {
    font-size: 10px;
}