.title {
    padding: 15px 10px;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    color: #888888;
    text-align: center;
}

#interactive.viewport canvas, video {
    float: left;
    width: 100%;
}

#interactive.viewport canvas.drawingBuffer {
    margin-left: -100%;
    width: 100%;
}