#bg{
	float:left;
	width:100%;
	height: 100%;
	background-image: url(butt_clouds.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	height:100%; 
	font-family: 'Lobster', cursive; 
	font-size: 300%;
}

div {
	text-align:center; 
	height:100%;
}

#cardName .cardNumber {
	height:30px;
}

#addcard_button {
	height:50px; 
	width:100px;
}